
name: Python CI

on:
  # Add a cron schedule
  schedule:
    - cron: "2 15 * * *"
  issues:
    types:
      - opened
  #workflow_run:
   # workflows: ["Build"]
    #types: [completed]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # If you have requirements.txt, uncomment below:
          # pip install -r requirements.txt

      - name: Run script
        run: |
          python main.py
